# project
.idea/
.vscode/
.venv/
.tests/
.env
venv/

# cache
__pycache__/
*.py[cod]
.cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage/

# build
env/
build/
_build/
dist/
site/
*.egg-info/
*.egg
